body { background-color: greenyellow; }

.container {
  display: grid;
  grid-template-areas: "im1 im2 im3 im4 im5"
                       "im6 im7 im8 im9 _";
  grid-row-gap: 1ch;
}

img {
  border-radius: 5px;
  height: 150px;
  width: 150px;
}

@media only screen and (max-width: 900px) {
  body { background-color: purple; }
  img {
    height: 160px;
    width: 160px;
  }

  .container {
    display: grid;
    grid-row-gap: 1ch;
    grid-template-areas: "im1 im6 im3"
                         "im4 im5 im2"
                         "im7 im8 im9"
  }
}

.im1 { grid-area: im1 }
.im2 { grid-area: im2 }
.im3 { grid-area: im3 }
.im4 { grid-area: im4 }
.im5 { grid-area: im5 }
.im6 { grid-area: im6 }
.im7 { grid-area: im7 }
.im8 { grid-area: im8 }
.im9 { grid-area: im9 }